body[id='pages-home'] {
  section#products {
    .category-title {
      @include margin(10px null);
      @include padding(0px 10px);
      hr {
        @include margin(0px);
        @include border-color($blue);
        @include border-width(3px);
      }
    }
  }
  .label-category {
    display: inline;
    font-size: 24px;
    color: white;
    line-height: inherit;
    border-color: #e7e7e7;
    @include padding(5px 20px);
    @include background($blue);
    @include border-top-radius(0px);
    @include border-right-radius(0px);
    @include border-bottom-radius(0px);
    @include border-left-radius(0px);
    a {
      color: white;
    }
  }
  .view-more {
    @include margin(20px null);
    .button {
      @include padding(10px 20px);
      @include border-width(2px);
      @include border-style(solid);
    }
  }
  .divider {
    @include margin(20px);
  }
}
