.col-xs-6.col-sm-4.col-md-3
  = link_to [@main_categories.first, @main_categories.first.products.first] do
    .panel.panel-default.panel-card.panel-hover
      = image_tag 'pro.jpg', class: 'img-responsive'
      .panel-body
        %h4 Product Name
        %strong.text-danger 888 $