section#header {
  @include margin(10px null);
  position: relative;
  img.logo {
    margin: 0 auto;
    width: 100%;
  }
  .search {
    form {
      @include margin(10px null);
    }
    .input {
      display: inline;
    }

    input {
      @media #{$phone}{
        display: inline-block;
        width: 85%;
      }
      @include border-top-radius(0px);
      @include border-right-radius(0px);
      @include border-bottom-radius(0px);
      @include border-left-radius(0px);
    }

    button {
      @include border-top-radius(0px);
      @include border-right-radius(0px);
      @include border-bottom-radius(0px);
      @include border-left-radius(0px);
    }
  }
}
