section#header {
  @include margin(10px null);
  position: relative;
  .header-col {
    @include margin(10px null);
  }
  .phone {

    @media #{$tablet-up}{
      font-size: 18px;
    }
  }
  .search {
    .input {
      display: inline;
    }

    input {
      @media #{$phone}{
        display: inline-block;
        width: 85%;
      }
      @include border-top-radius(0px);
      @include border-right-radius(0px);
      @include border-bottom-radius(0px);
      @include border-left-radius(0px);
    }

    button {
      @include border-top-radius(0px);
      @include border-right-radius(0px);
      @include border-bottom-radius(0px);
      @include border-left-radius(0px);
    }
  }
}
