.panel-card {
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  @include border-width(1px);
  @include transition(all 0.3s);

  box-shadow: 0 0 40px rgba(0,0,0,0.1);
  & a:hover {
    text-decoration: none;
  }
  @media #{$phone}{
    @include margin(10px null);
  }
  img {
    width: 100%;
    @include padding(-15px);
  }
  .pro-name {
    min-height: 65px;
  }
  .summary {
    min-height: 80px;
    color: #333333;
  }
  .sold {
    @include border-top-radius(0px);
    @include border-bottom-radius(0px);
    position: absolute;
    top: 0px;
    left: 15px;
  }
  @media #{$phone}{
    &.panel-products {
      a{
        display: table;
      }
      img {
        display: table-cell;
        vertical-align: top;
      }
      .panel-body {
        display: table-cell;
        width: 50%;
        vertical-align: top;
      }
    }
  }
  .label {
    font-size: 14px;
    @include border-top-radius(0px);
    @include border-bottom-radius(0px);
    &.status-label {
      @include background($blue);
    }
  }

}

.panel-hover:hover {
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
}
