%section#categories
  %h1 Category
  .row
    .col-xs-12.col-sm-6.col-sm-push-3.col-md-4.col-md-push-4
      = render 'categories_panel', heading: 'Category', categories: @main_categories, new_url: new_admin_category_url
