%section#search-form.container
  .row
    .col-xs-12.col-sm-6.col-sm-push-6.col-md-3.col-md-push-9
      = simple_form_for :search, url: search_url, method: :get , html: { class: 'form-inline' } do |f|
        = f.input :query, label: false, input_html: { value: params[:search].try(:[], 'query'), placeholder: 'Search', class: 'form-control'}
        = button_tag(type: 'submit', class: "btn", id: 'search-button') do
          %i.fa.fa-search