%section#products.container
  - @main_categories.each do |main_category|
    .row
      .col-xs-12.category-title
        %h3.label-category= link_to main_category.name, category_products_url(main_category)
        %hr
      - main_category.summary_products.includes(:images, :category).each do |product|
        = render 'shared/product', product: product
      .col-xs-12.view-more.text-center
        = link_to category_products_url(main_category), class: 'button' do
          %strong View More >
      .col-xs-12.divider

