%section#products.container
  - @main_categories.each do |main_category|
    .row
      .col-xs-12.category-title
        %h3.label-category= link_to main_category.name, main_category
      - main_category.feature_products.includes(:images).each do |product|
        = render 'shared/product', product: product
      .col-xs-12.devider