%section#products.container
  - @main_categories.each do |main_category|
    .row
      .col-xs-12.category-title
        %h3.label-category= link_to main_category.name, main_category
      - main_category.feature_products.each do |product|
        = render 'shared/product', product: product, category: main_category
      .col-xs-12.devider