%section#products.container
  - @main_categories.each do |main_category|
    .row
      .col-xs-12
        %h3= main_category.name
      - main_category.products.rows(2).each do |product|
        = render 'shared/product', product: product