body[id='dashboard-products-index']{
  .sortable .dragable {
    cursor: crosshair;
  }
}

body[id='dashboard-products-new'],
body[id='dashboard-products-create'],
body[id='dashboard-products-edit'],
body[id='dashboard-products-update']{
  #category-association {
    ul {
      list-style-type: none;
      margin-left: -20px;
    }
    .radio-row{
      display: flex;
    }
  }
  #images{
    .image {
      width: 100px;
    }
    .nested-fields, .links {
      display: inline;
    }  
    .btn-delete {
      position: absolute;
    }
    .product-image {
      position: relative;
    }
  }
  
}
