#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      %a{:href => "#"}
        Start Bootstrap
    %li
      %a{:href => "#"} Dashboard
    %li
      %a{:href => "#"} Shortcuts
    %li
      %a{:href => "#"} Overview
    %li
      %a Events
      %ul#demo1
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li
          %a{:href => "#"} Separated link
        %li
          %a{:href => "#"} One more separated link
    %li
      %a About
      %ul#demo2
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li
          %a{:href => "#"} Separated link
        %li
          %a{:href => "#"} One more separated link
    %li
      %a{:href => "#"} Services
    %li
      %a{:href => "#"} Contact
